# AI agent artifacts
.artifacts/

# Build artifacts
*.a
*.aab
*.ap_
*.apk
*.apks
[Bb]uild*/
*.dbg
*.flat
*.idsig
*.o
*.so
*.sym
*.zip

# Gradle files
bin/
.cxx/
.gradle/
local.properties
*.log

# IDE files
.idea/
