# AI agent artifacts
.artifacts/

# Build artifacts
*.a
*.aab
*.ap_
*.apk
*.apks
*.class
*.dbg
*.dex
*.flat
*.idsig
*.o
*.so
*.sym
*.zip

# Code coverage reports
htmlReport/

# Gradle files
bin/
[Bb]uild*/
.cxx/
.gradle/
local.properties
*.log

# IDE files
.idea/*
!.idea/AndroidProjectSystem.xml
!.idea/codeStyles/
!.idea/compiler.xml
!.idea/dictionaries/
!.idea/gradle.xml
!.idea/inspectionProfiles/
!.idea/markdown.xml
!.idea/misc.xml
!.idea/runConfigurations.xml
!.idea/vcs.xml
*.iml
