name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - main

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Set up CMake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.0.2'

      - name: Build project
        run: |
          chmod +x ./gradlew
          ./gradlew build
          ./gradlew bundle

      - name: Lint project
        run: ./gradlew lint lintRelease

      - name: Upload debug APKs
        uses: actions/upload-artifact@v7
        with:
          name: debug-apks
          path: app/build/outputs/apk/debug/*.apk

      - name: Upload release APKs
        uses: actions/upload-artifact@v7
        with:
          name: release-apks
          path: app/build/outputs/apk/release/*.apk

      - name: Upload debug AABs
        uses: actions/upload-artifact@v7
        with:
          name: debug-aabs
          path: app/build/outputs/bundle/debug/*.aab

      - name: Upload release AABs
        uses: actions/upload-artifact@v7
        with:
          name: release-aabs
          path: app/build/outputs/bundle/release/*.aab

      - name: Upload native debug symbols
        uses: actions/upload-artifact@v7
        with:
          name: native-debug-symbols
          path: app/build/outputs/native-debug-symbols/release/*.zip

      - name: Upload mapping
        uses: actions/upload-artifact@v7
        with:
          name: mapping
          path: app/build/outputs/mapping/release/*.txt

      - name: Upload logs
        uses: actions/upload-artifact@v7
        with:
          name: logs
          path: app/build/outputs/logs/*.txt

      - name: Upload lint reports
        uses: actions/upload-artifact@v7
        with:
          name: reports
          path: app/build/reports/*

      - name: Generate build provenance attestations
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: |
            app/build/outputs/apk/**/*.apk
            app/build/outputs/bundle/**/*.aab
            app/build/outputs/native-debug-symbols/release/*.zip
            app/build/outputs/mapping/release/*.txt
            app/build/outputs/logs/*.txt
            app/build/reports/*
