name: Release 1.0.x

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write
  discussions: write

jobs:
  release:
    # Disable the workflow so that only the main branch can create releases
    if: false

    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          ref: 'v1.0.x'
          submodules: true

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up SDK
        uses: android-actions/setup-android@v3
        with:
          packages: 'platforms;android-36 build-tools;36.0.0'
      - name: Add SDK to PATH
        run: echo "$ANDROID_HOME/build-tools/36.0.0" >> $GITHUB_PATH

      - name: Set up NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r28c
          link-to-sdk: true
      - name: Add NDK to PATH
        run: echo "$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin" >> $GITHUB_PATH

      - name: Set up Android Manifest Merger
        run: |
          mkdir -p $HOME/ManifestMerger
          curl -Lo $HOME/ManifestMerger/manifest-merger.jar https://github.com/distriqt/android-manifest-merger/releases/download/v31.9.0/manifest-merger-31.9.0.jar
          echo -e "#!/bin/bash\njava -jar $HOME/ManifestMerger/manifest-merger.jar \"\$@\"" > $HOME/ManifestMerger/manifest-merger
          chmod +x $HOME/ManifestMerger/manifest-merger
          echo "$HOME/ManifestMerger" >> $GITHUB_PATH

      - name: Set up CMake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.0.2'

      - name: Set up fd
        run: |
          sudo apt-get update
          sudo apt-get install -y fd-find
          mkdir -p $HOME/fd
          ln -s $(which fdfind) $HOME/fd/fd
          echo "$HOME/fd" >> $GITHUB_PATH

      - name: Set up zip and unzip
        run: sudo apt-get install -y zip unzip

      - name: Set up AAPT2
        run: |
          mkdir -p $HOME/aapt2
          curl -Lo $HOME/aapt2/aapt2.jar https://dl.google.com/dl/android/maven2/com/android/tools/build/aapt2/8.13.0-13719691/aapt2-8.13.0-13719691-linux.jar
          unzip -o $HOME/aapt2/aapt2.jar -d $HOME/aapt2
          chmod +x $HOME/aapt2/aapt2
          echo "$HOME/aapt2" >> $GITHUB_PATH

      - name: Set up bundletool
        run: |
          mkdir -p $HOME/bundletool
          curl -Lo $HOME/bundletool/bundletool.jar https://github.com/google/bundletool/releases/download/1.18.1/bundletool-all-1.18.1.jar
          echo -e "#!/bin/bash\njava -jar $HOME/bundletool/bundletool.jar \"\$@\"" > $HOME/bundletool/bundletool
          chmod +x $HOME/bundletool/bundletool
          echo "$HOME/bundletool" >> $GITHUB_PATH

      - name: Build project
        env:
          STORE_FILE: ../../dev.p12
          STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        run: |
          echo "${{ secrets.STORE_FILE }}" | base64 --decode > dev.p12
          cmake -B Build/Release \
                -G "Ninja" \
                -DCMAKE_BUILD_TYPE=MinSizeRel
          cmake --build Build/Release
          cmake --build Build/Release --target create_aab
          cmake --build Build/Release --target create_apks_universal

      - name: Prepare release assets
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run: |
          set -euo pipefail
          RELEASE_VERSION="v1.0.0"

          # Move APKs
          for apk in Build/Release/outputs/HelloWorld_${RELEASE_VERSION}_*.apk; do
            mv "$apk" ./
          done

          # Move AAB
          mv Build/Release/outputs/HelloWorld_${RELEASE_VERSION}.aab ./

          # Move APK set
          mv Build/Release/outputs/HelloWorld_${RELEASE_VERSION}_universal.apks ./

          # Move native debug symbols
          mv Build/Release/outputs/native-debug-symbols.zip ./

          # Generate SHA256SUMS
          sha256sum \
            HelloWorld_${RELEASE_VERSION}_*.apk \
            HelloWorld_${RELEASE_VERSION}.aab \
            HelloWorld_${RELEASE_VERSION}_universal.apks \
            native-debug-symbols.zip \
            > SHA256SUMS

          # Sign SHA256SUMS
          echo "$GPG_PRIVATE_KEY" | gpg --batch --import
          gpg --batch --yes --pinentry-mode loopback --passphrase "$GPG_PASSPHRASE" --armor --detach-sign SHA256SUMS

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v1.0.0
          fail_on_unmatched_files: true
          generate_release_notes: true
          discussion_category_name: Announcements
          files: |
            HelloWorld_v1.0.0_*.apk
            HelloWorld_v1.0.0.aab
            HelloWorld_v1.0.0_universal.apks
            native-debug-symbols.zip
            SHA256SUMS
            SHA256SUMS.asc